*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}
#container{
    margin-top: 100px;
    padding: 50px;
    width: 100%;
    background-color: beige;
}

table, th, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
    
}
table{
    width: 100%;
}
tr:nth-child(even){
    color: red;
}

td{
    text-align: center;
}
tr:first-child{
    background-color: blanchedalmond;
}
tr{
    background-color: aliceblue;
}
#nav1{
    background-color: antiquewhite;
}

footer{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0.1, 0, 0, 0.2);
    margin-top: 200px;
    
}

a {
    color: #e99f4b;
    text-decoration: none;
  }
 a:hover {
    text-decoration: underline;
    color: green;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 600px) {
    footer {
      padding: 10px;
    }
  }

  footer img {
    border-radius: 150vh;
    padding-top: 10px;
    padding-left: 15px;
    float: right;
    height: 10vh;
    width: 10vh;
    
  }
